.description {
    background-image: url('../images/BACKGROUND.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 640px;
}

.description__header {
    font-family: 'Playfair-Display-Black', sans-serif;
    color: #ffffff;
    font-size: 32px;
    margin: 0;
}

.description__delimiter {
    margin: 25px 0px;
    border-top: 1px solid var(--light-blue-color);
}

.description__text {
    color: #ffffff;
    text-align: center;
}

.description__row {
    font-family: 'Roboto-Thin', sans-serif;
    font-weight: lighter;
    margin: 0px 0px 15px;
}

.description__button {
    margin-top: 40px;
}

.description__dot-nav {
    margin-bottom: 40px;
}
