.header {
    width: 1600px;
    position: absolute;
    display:flex;
	flex-wrap:wrap;
    text-align:center;
    justify-content: center;
	margin:auto;
}

.header__logo {
    color: var(--light-blue-color);
    font-weight: lighter;
    padding-top: 6px;
    font-size: 26px;
    font-family: 'Roboto-Thin', sans-serif;
}

.header__logo::before {
    content: url(/images/logo.png);
}

.header__nav {
    color: var(--light-blue-color);
    font-family: 'Roboto-Black', sans-serif;
}