@import './header.css';

@import './description.css';

@import './nav.css';

@import './button.css';

@import './dot-nav.css';

@font-face { 
    font-family: Roboto; 
    src: url('../fonts/Roboto/Roboto-Regular.ttf'); 
} 

@font-face { 
    font-family: Roboto-Thin; 
    src: url('../fonts/Roboto/Roboto-Thin.ttf'); 
} 

@font-face { 
    font-family: Roboto-Black; 
    src: url('../fonts/Roboto/Roboto-Black.ttf'); 
} 

@font-face { 
    font-family: Roboto-Light; 
    src: url('../fonts/Roboto/Roboto-Light.ttf'); 
} 

@font-face { 
    font-family: Playfair-Display-Black; 
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf'); 
} 

:root {
    --light-blue-color: #00cccc;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.link {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delimiter {
    width: 50px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}