.nav {
    list-style-type:none;
    display: flex;
}

.nav__item {
    margin-left: 25px;
    margin-top: 22px;
}

.nav__link {
    color:  #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

.nav__link:hover {
    color: var(--light-blue-color);
}